/*****************************************************************************/
/* DisplayRecipe: Style */
/*****************************************************************************/
.display-recipe {
	postition: relative;
	margin-bottom: 1em;
	padding: 1em;
	background-color: #66A3FF;
	color: black;
	border: solid;
	border-width: thin;
	border-color: #121E24;
	border-radius: 10px;
	min-height: 400px;
}

.image-row{
	min-height: 90px;
}

.recipeItem{
}
.recipeItem h4{
	margin-top: 0;
}
.recipeItem h5{
	display: inline-block;
}
.recipeItem p{
	display: inline-block;
}

.recipe-column{
}

.recipePhoto{
	float: right;
	text-align: center;
	width: 100%;
	height: 100%;
}

.recipePhoto span{
	margin: 0 auto;
	font-size: 5em;
}

.recipePhoto a img{
}

.uploadLabel{
	font-size: 3em;
	cursor: pointer;
	display: block;
	color: #FFFFFF;
}

#uploadPhoto{
	display: block;
	visibility: hidden;
	width: 0;
	height: 0;
}

.recipe-data, #recipeTitle{
	width: 80%;
	margin-bottom: 2em;
	margin-left: .5em;
}



#recipeAuthor{
	margin-left: .2em;
}

.filterby{
	color: #FFFFFF;

}

.recipe-column .glyphicon-heart-empty{
	font-size: 1.5em;
	color: #FFFFFF;
}

.recipe-column .glyphicon-heart{
	font-size: 1.5em;
	color: #FFCC66;
}

