.navbar{
	-background-color: #FFCC66;
	background-image: url('images/concrete_wall.png');
	margin-top: -4em;
}

.navbar .container-fluid ul{
	-background-color: #FFCC66;
	background-image: url('images/concrete_wall.png');
}

.navbar .container-fluid li a{
	-color: #336699;
	color: #FFFFFF;
}

.navbar .container-fluid a{
	-color: #336699;
	color: #FFFFFF;
}

