.navbar{
	-background-color: #FFCC66;
	background-image: url('images/concrete_wall.png');
	margin-top: -4em;
}

.navbar .container-fluid ul{
	-background-color: #FFCC66;
	background-image: url('images/concrete_wall.png');
}

.navbar .container-fluid li a{
	-color: #336699;
	color: #FFFFFF;
}

.navbar .container-fluid a{
	-color: #336699;
	color: #FFFFFF;
}

#search-form{
	display: inline-block;
	width: 100%;
}

.search-box{
	display: inline-block;
	width: 100%;
	border-radius: 5px 0px 0px 5px;
	height: 34px;
}

.search-button span{
	
	
}

