<template name="DisplayPopular">

	<h2>Popular Recipes</h2>
	<div id="popluarCarousel" class="carousel slide jumbotron">
		<div class="carousel-container">
			<div id="carousel-inner" class="carousel-inner">
			{{#if Template.subscriptionsReady}}
				{{#each popularRecipe}}
					{{setContext}}
					{{#if firstPopularItem}}
						<div class="item active">
							{{#if hasImage}}
								<div class="recipeImage">
									{{getImage}}
								</div>

							{{/if}}
							<h3>{{getTitle}}</h3>
						  	<!-- <p>Feeds: {{getServings}}</p> -->
						  	{{#if hasAuthor}}
						  		<p>By: {{getAuthor}}</p>

							{{/if}}  
						</div>
					{{else}}
						<div id="carouselItem" class="item">
							{{#if hasImage}}
								<div class="recipeImage">
									{{getImage}}
								</div>
							{{/if}}
						<h3>{{getTitle}}</h3>
				  		<!-- <p>Feeds: {{getServings}}</p> -->
				  		{{#if hasAuthor}}
				  			<p>By: {{getAuthor}}</p>
				  		{{/if}}  
						</div>
					{{/if}}
				{{/each}}
			{{/if}}
			</div>
		</div>
		<a class="left carousel-control" href="#popluarCarousel" data-slide="prev">
			<span class="icon-prev"></span>
		</a>
		<a class="right carousel-control" href="#popluarCarousel" data-slide="next">
			<span class="icon-next"></span>
		</a>
	</div>
</template>
