/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
html{
	height: 100%;
	width : 100%;
	margin: 0;
	padding: 0;
	
}
body{
	height: 100%;
	width : 100%;
	margin: 0;
	padding: 0;
}
.tabHeader{
	width: 50%;
	background-image: url('images/concrete_wall.png');
}
.tabHeader a{
	color: #FFFFFF;
}
.header{
	width: 100%;
	margin-top: 3em;
}
.header h2{
	width: 50%;
	margin: 0 auto;
}

.container-fluid{
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFCC66;
	font-family: 'Fjord One', serif;

}


.row-container{
	height: 100%;
	padding-top: 50px;
}

.recipe-logo{
	width: 50%;
	margin: 0 auto;
}
.recipe-logo img{
	width: 100%;
}

.sidebar{
	margin: 0;
}
.tab-content{
	width: 100%;
	
}
.tab-pane{
	width: 100%;
}

.main{
	postition: absolute;
}
.content{
	height: 100%;
}
.sidebar{
	height: 100%;
}

.popular h2{
	color: #FFFFFF;
}

#nav-search{
	width: 100%;
  	
}












