/*****************************************************************************/
/* CommentsList: Style */
/*****************************************************************************/
.comments-list {

}

.comments {
  border: 1px solid #ccc;
  background-color: #66A3FF;
  color: black;

 }

.comments h3 {
	margin: 0;
	padding: 5px;
}

.comments .new-comment {
	padding: 10px;

}

.comments textarea {
  width: 90%;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.actions {
}

.comments ul{
	list-style: none;
  	clear: both;
  	overflow: hidden;
  	margin: 0px;
  	padding: 0px;
  	background-color: #66A3FF;
  	color: black;
}

.comments li{
	clear: both;
  	overflow: hidden;
	border-bottom: 1px solid #ccc;
  	padding: 10px;
}

.comments .user {
	font-size: .7em;
	float: right;
}

.comments .body {
	
	font-size: .9em;
}

.comments input, {
	background-color: #3667B2;
	color: #FFFFFF;
	width: 100%;

}
